.modal-backdrop {
  display: none;
}
.modal-backdrop.show {
  display: block;
}
.modal.show {
  width: 500px;
  height: 392px;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.modal-dialog {
  margin: 0;
}
